{% extends "layoutVistitor.html.twig" %}

{% block title %}Les Normes{% endblock %}

{% block body %}

        <div class="row justify-content-center pic-container">
            <img src="{{ asset('build/images/normes.jpg') }}" class="training-pic" alt="photo des normes">
            <h1 class="trainings-title">Les Normes</h1>
        </div>
    <section class="container-fluid">
        <div class="container pictos">
            <div class="row justify-content-around">
                <img src="{{ asset('build/images/quality1T.png') }}" alt="pictogramme qualité" class="col-2">
                <img src="{{ asset('build/images/securityT.png') }}" alt="pictogramme sécurité" class="col-2">
                <img src="{{ asset('build/images/environmentT.png') }}" alt="pictogramme environnement" class="col-2">
            </div>
            <div class="row justify-content-around">
                <p class="col-2 text-center picto-title">Qualité</p>
                <p class="col-2 text-center picto-title">Sécurité</p>
                <p class="col-2 text-center picto-title">Environnement</p>
            </div>
            {% for standard in standards %}
                <div class="standards">
                    <h2>{{ standard.title }}</h2>
                    <p>{{ standard.description|nl2br }}</p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </section>
{% endblock %}