{{ form_start(form) }}
<div class="row mt-lg-4">
    <div class="form-group col-12">
        {{ form_label(form.name, 'Question') }}
        {{ form_widget(form.name, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group col-12">
        {{ form_label(form.explanation, 'Explication') }}
        {{ form_widget(form.explanation, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.explanation) }}
    </div>
    <div class="form-group col-6">
        {{ form_label(form.month, 'Mois') }}
        {{ form_widget(form.month, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.month) }}
    </div>
    <div class="form-group col-6">
        {{ form_label(form.year, 'Année') }}
        {{ form_widget(form.year, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.year) }}
    </div>
</div>
<div class="text-center justify-content-center">
    <button class="btn btn-light btn-add my-4">{{ button_label|default('Ajouter') }}</button>
</div>
{{ form_end(form) }}
