{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier la question{% endblock %}

{% block body %}
    <h1 class="training-title p-4 text-center">Modifier la question</h1>

    <div class="table-title container pt-lg-4 mb-lg-4">

        <div class="col text-center">
            {{ include('admin/question/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

        <hr>

        <h1 class="training-title p-4 text-center">Ajouter des Réponses</h1>
        <table class="table table-striped">
            <thead class="thead">
            <tr>
                <th scope="col" class="table-title-index">Réponse</th>
                <th scope="col" class="table-title-index">Statut</th>
                <th scope="col" class="table-title-index">Editer</th>
                <th scope="col" class="table-title-index">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in question.answers %}
                <tr>
                    <td class="news-content">{{ answer.name }}</td>
                    {% if answer.goodAnswer == false %}
                    <td class="news-content">Mauvaise réponse</td>
                    {% else %}
                    <td class="news-content">Bonne réponse</td>
                    {% endif %}
                    <td class="text-center">
                        <a href="{{ path('answer_edit', {'id': answer.id}) }}"><i
                                    class="far faro fa-edit icon icon-show mt-3"></i></a>
                    </td>
                    <td class="far icon icon-show text-center">{{ include('admin/answer/_delete_form.html.twig') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            <a href="{{ path('answer_new', {'question': question.id}) }}"class="btn btn-light btn-add my-4">Ajouter une réponse</a>
        </div>


            <div class="container pb-4 pr-5 text-right">
            <a class="btn btn-primary" href="{{ path('question_index') }}"><i class="fas fa-arrow-left"></i> Liste des questions</a>
            </div>
        </div>
{% endblock %}
