{% extends 'layoutVistitor.html.twig' %}

{% block title %}Historique des QCM{% endblock %}
{% block body %}
        <div class="container qcm-history pt-5">
        <h1 class="text-center">Bienvenue dans l'historique des QCM.</h1>
        <p>Retrouvez ici tous les QCM déjà proposés.</p>
            {% for question in questions %}
            <div class="container">
                <h2>Question du mois de <span>{{ constant('App\\Entity\\Question::MONTHS')[question.month] }} {{ question.year }}</span></h2>
                <div class="row justify-content-center">
                    <div class="card bg-secondary mb-3">
                        <div class="card-header card-question">{{ question.name }}</div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                {% for answer in question.answers %}
                                    <button type="button"
                                            class="btn btn-outline-primary col-9" data-toggle="modal"
                                            data-target="#qcm{{ answer.id }}">{{ answer.name }}</button>
                                    <div class="modal fade" id="qcm{{ answer.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="qcm"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    {% if answer.goodAnswer == false %}
                                                        <h3 class="card-title mauvaise-réponse">Mauvaise réponse !</h3>
                                                    {% else %}
                                                        <h3 class="card-title bonne-réponse">Bonne réponse !</h3>
                                                    {% endif %}
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <hr class="hr-modal">
                                                    <div class="special-row modal-text">
                                                        <p class="text-left px-4">{{ question.explanation|nl2br }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <div class="text-center pb-5">
    <a href="{{ path('index') }}" class="btn btn-blog">Retour à l'accueil</a>
    </div>
{% endblock %}
