<div class="container training mx-2">
    <h2 class="training-name">{{ training.title }}</h2>

    <div class="row justify-content-around infos-trainings pt-5">
        <div class="col">
            <h3>Objectifs</h3>
            <p>{{ training.goal }}</p>
        </div>
        <div class="col">
            <h3>Durée</h3>
            <p>{{ training.period }}</p>
            <h3>Public</h3>
            <p>{{ training.public }}</p>
            <h3>Pré-requis</h3>
            <p>{{ training.prerequisite }}</p>
        </div>
    </div>
    <div class="program pb-5">
        <h3>Méthodes et Moyens pédagogiques</h3>
        <p>{{ training.pedagogy }}</p>
        <h3>Méthode d'évaluation de l'efficacité du dispositif</h3>
        <p>{{ training.methodEvaluation|nl2br }}</p>
        <h3>Programme</h3>
        <p>{{ training.program }}</p>
    </div>
</div>
