{% extends 'layoutVistitor.html.twig' %}

{% block title %}Oryalis - Formations{% endblock %}

{% block body %}
    <div class="row justify-content-center pic-container">
        <img src="{{ asset('build/images/training.jpg') }}" class="training-pic" alt="photo de formation">
        <h1 class="trainings-title">Formations</h1>
    </div>
    <section class="container training">
        <h2 class="training-name">{{ training.title }}</h2>
        <div class="row justify-content-around infos-trainings">
            <div class="col col-6">
                <h3><i class="far fa-check-circle picto-trainings"></i>Objectifs</h3>
                <p>{{ training.goal|nl2br }}</p>
            </div>
            <div class="col col-6">
                <h3><i class="far fa-clock picto-trainings"></i>Durée</h3>
                <p>{{ training.period }}</p>
                <h3><i class="fas fa-users picto-trainings"></i>Public</h3>
                <p>{{ training.public|nl2br }}</p>
                <h3><i class="fas fa-tasks picto-trainings"></i>Pré-requis</h3>
                <p>{{ training.prerequisite|nl2br }}</p>
            </div>
        </div>
        <div class="program">
            <h3><i class="fas fa-book picto-trainings"></i>Programme</h3>
            <p>{{ training.program|nl2br }}</p>
            <h3><i class="fas fa-cogs picto-trainings"></i>Méthodes et Moyens pédagogiques</h3>
            <p>{{ training.pedagogy|nl2br }}</p>
        </div>
        <a class="btn btn-primary" href="{{ path('training_download', {'id': training.id}) }}">Télécharger en
            PDF</a>
        <p class="text-center"><a href="{{ path('trainings_index') }}" class="btn btn-blog">Retour à la
                liste</a></p>
    </section>
{% endblock %}
