{% extends 'layoutVistitor.html.twig' %}

{% block title %}Oryalis - Formations{% endblock %}

{% block body %}
    <section class="container">
        <h3 class="training-name">{{ training.title }}</h3>
        <div class="row justify-content-around">
            <p><i class="far fa-clock picto-formations"></i>{{ training.period }}</p>
            <p><i class="fas fa-users picto-formations"></i>{{ training.public }}</p>
            <p><i class="fas fa-tasks picto-formations"></i>Pré-requis</p>
        </div>
        <div class="program">
            <h4><i class="far fa-check-circle picto-formations"></i>Objectifs</h4>
            <p>Oui</p>
            <h4><i class="fas fa-book picto-formations"></i>Programme</h4>
            <p>{{ training.program }}</p>
            <h4><i class="fas fa-cogs picto-formations"></i>Méthodes et Moyens pédagogiques</h4>
            <p>{{ training.pedagogy }}</p>
        </div>
        <a href="{{ path('trainings_index') }}">Retour à la liste</a>
    </section>
{% endblock %}
