{% extends 'layoutVistitor.html.twig' %}

{% block title %}L'Équipe{% endblock %}

{% block body %}
    <div class="row justify-content-center pic-container">
        <img src="{{ asset('build/images/equipe_jumb.jpeg') }}" class="training-pic" alt="photo d'une équipe">
        <h1 class="trainings-title">Notre Équipe</h1>
    </div>
    <div class="container pt-2 mt-5">
    <div class="row">
        {% for employee in employees %}
            <div class="col-md-6 col-lg-4 col-sm-12 text-center card-team pb-4" data-toggle="modal"
                 data-target="#exampleModal{{ employee.id }}">
                {% if employee.picture is null %}
                    <img src="{{ asset('build/images/placeholder150.png') }}" class="img-team"
                         alt="employee">
                {% else %}
                    <img src="{{ asset('uploads/employee/' ~ employee.picture ) }}" class="img-team"
                         alt="{{ employee.lastname }} {{ employee.firstname }}">
                {% endif %}
                <hr class="hr-style">
                <div class="card-body">
                    <h2 class="card-title"><span
                                class="text-uppercase">{{ employee.lastname }}</span> {{ employee.firstname }}</h2>
                    <p class="title-card">{{ employee.title }}</p>
                    {% if employee.tel is null %}
                    {% else %}
                        <p class="title-card"><i class="fas fa-phone"></i> {{ employee.tel }}</p>
                    {% endif %}
                </div>

                <div class="modal fade" id="exampleModal{{ employee.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header teamHeader">
                                <h3 class="card-title teamTitle" id="exampleModalLabel"><span
                                            class="text-uppercase">{{ employee.lastname }}</span> {{ employee.firstname }}
                                </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="p-4 row">
                                    <div class="col-md-4 col-lg-4 col-sm-0">
                                        {% if employee.picture is null %}
                                            <img src="{{ asset('build/images/placeholder150.png') }}" class="img-team"
                                                 alt="employee">
                                        {% else %}
                                            <img src="{{ asset('uploads/employee/' ~ employee.picture ) }}" class="img-team"
                                                 alt="{{ employee.lastname }} {{ employee.firstname }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-8 col-lg-8 col-sm-12 detail-modal">
                                        <p class="title-card">{{ employee.title }}</p>
                                        {% if employee.tel is null %}
                                        {% else %}
                                            <hr>
                                            <p class="title-card"><i class="fas fa-phone"></i> {{ employee.tel }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr class="hr-modal">
                                <div class="special-row modal-text">
                                    <p class="text-left px-4">{{ employee.description|nl2br }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    </div>
{% endblock %}