<nav class="navbar navbar-expand-lg navbar-light bg-navAdmin">
    <a class="navbar-brand" href="#"><img src="{{ asset('build/images/LogoAdmin.png') }}" class="logo-navbarAdmin"
                                          alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('training_index') }}"><i class="fas fa-user"></i> Formation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_employee') }}"><i class="fas fa-handshake"></i> Equipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('question_index') }}"><i class="fas fa-question-circle"></i> QCM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_index') }}"><i class="fas fa-newspaper"></i> News</a>
            </li>
        </ul>
        <span class="navbar-text">
            <li class="nav-item dropdown list-style">
                <a class="nav-link dropdown-toggle btn" data-toggle="dropdown" href="" role="button"
                   aria-haspopup="true" aria-expanded="false"><i class="fas faro fa-lock"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Modifier les informations</a>
                    <hr>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            </li>
        </span>
    </div>
</nav>