{% extends 'layoutVistitor.html.twig' %}

{% block title %}Veille Réglementaire{% endblock %}

{% block body %}
    <div class="row justify-content-center pic-container">
        <img src="{{ asset('build/images/Veille_jumb.jpg') }}" class="training-pic" alt="photo de conseil">
        <h1 class="trainings-title">Veille Réglementaire</h1>
    </div>
    <div class="watch-repo">
        <section class="container">
            <hr>
            <p>La réglementation santé, sécurité et environnement énergie évolue sans cesse, c'est un
                enjeu majeur pour votre entreprise, une surveillance efficace et efficiente de tous les textes
                nécessite des ressources importantes.
            </p>
            <hr>
            <p>Oryalis a développé une application web de veille réglementaire HSE : Ory@veille, pour vous
                aider à maitriser la réglementation applicable à votre entreprise.</p>
            <hr>
            <p>Disponible 7j/7 et 24h/24, elle vous assure la conformité aux exigences normatives : ISO
                14001, ISO 50001, OHSAS 18001, ISO 45001.
                En effet l’application a été conçue dans le respect des exigences normatives ISO.
            </p>
            <hr>
            <h2 class="text-center pt-5 pb-4">Un accès direct à votre situation réglementaire</h2>
            <div class="text-center">
                <figure>
                    <img src="{{ asset('build/images/veilleOutil.png') }}" class="training-pic"
                         alt="Graphique Ory@veille">
                    <figcaption class="pt-2">
                        Tableau de bord de l’application permettant de connaître directement vos taux de
                        conformité en environnement, sécurité et/ou énergie.
                    </figcaption>
                </figure>
            </div>
            <div class="pt-3">
                <hr>
            </div>
            <h2 class="text-center pt-4 pb-4">Une analyse exhaustive et l’évaluation de 100% des articles réglementaires
                applicables et potentiellement applicable</h2>
            <div class="text-center">
                <figure>
                    <img src="{{ asset('build/images/veilleO2.png') }}" class="training-pic" alt="Graphique Ory@veille">
                    <figcaption class="pt-2">Exemple d’une fiche de lecture. Le découpage des textes est réalisé article par
                        article. Basé sur la méthode du « point and click », vous n’avez qu’à cliquer sur les
                        boutons applicable, non applicable, conforme ou non conforme, pour déterminer
                        votre conformité aux exigences réglementaires.
                    </figcaption>
                </figure>
            </div>
            <div class="pt-3">
                <hr>
            </div>
            <p>A partir de l’élaboration de votre profil réglementaire (check-list permettant de déterminer
                les textes vous impactant) par nos consultants dédiés, nous vous mettons uniquement à
                disposition les textes vous concernant.
            </p>
            <hr>
            <p>Gagner un temps précieux en externalisant votre veille auprès d’Oryalis : vous n’avez
                qu’à statuer sur la conformité des exigences réglementaires !
            </p>
            <hr>
            <p>Notre outil est très convivial et simple d’utilisation vous le
                maitriserez très rapidement.
            </p>
            <hr>
            <div class="text-center pt-5">
                <p>Devis : <a href="{{ path('contact') }}" class="qcm-histo">Contactez-nous pour un devis personnalisé !</a></p>
                <p><a href="{{ path('questions_history') }}" class="qcm-histo">Tester vos connaissances !</a> Tous les mois nous vous
                    proposons une
                    question réglementation.</p>
            </div>
        </section>
    </div>
{% endblock %}

