
{{ form_start(form) }}
<div class="row">
    <div class="form-group mt-lg-4 col-8">
        {{ form_label(form.name, 'Titre', ({'label_attr': {'class': 'form-label'}})) }}
        {{ form_widget(form.name, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group mt-lg-4 col-4">
        {{ form_label(form.date, 'Date', ({'label_attr': {'class': 'form-label'}})) }}
        {{ form_widget(form.date) }}
        {{ form_errors(form.date) }}
    </div>
    <div class="form-group col-12">
        {{ form_label(form.content, 'Contenu', ({'label_attr': {'class': 'form-label'}})) }}
        {{ form_widget(form.content, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.content) }}
    </div>
</div>
    <button class="btn">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
