{% extends 'layoutAdmin.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    <section>
        <h1 class="training-title p-4 text-center">Actualités</h1>
        <h2 class="training-sub-title text-center mb-4">Gérez vos actualités</h2>
        <div class="text-center">
            <button type="submit" class="btn add mb-4"><a href="{{ path('news_new') }}" class="link-training">+ Ajouter une actualité</a></button>
        </div>
        <div class="row justify-content-center">
            <table class="table col-8 table-striped">
                <thead class="thead">
                <tr>
                    <th scope="col" class="table-title">Titre de l'actualité</th>
                    <th scope="col" class="table-title text-center">Contenu</th>
                    <th scope="col" class="table-title text-center">Editer</th>
                    <th scope="col" class="table-title text-center">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for new in news %}
                    <tr>
                        <td><a href="{{ path('news_show', {'id': new.id}) }}" class="link-training"> {{ new.name }}</a></td>
                        <td>{{ new.content }}</td>
                        <td><a href="{{ path('news_edit', {'id': new.id}) }}"><i class="far faro fa-edit icon icon-show btn mt-3"></i></a></td>
                        <td class="far icon icon-show btn">{{ include('admin_news/_delete_form.html.twig') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
