{{ form_start(form) }}
    <div class="row mt-lg-4">
        <div class="form-group col-6">
            {{ form_label(form.lastname, 'Nom') }}
            {{ form_widget(form.lastname, ({'attr': {'class': 'form-control'}})) }}
            {{ form_errors(form.lastname) }}
        </div>
        <div class="form-group col-6">
            {{ form_label(form.firstname, 'Prénom') }}
            {{ form_widget(form.firstname, ({'attr': {'class': 'form-control'}})) }}
            {{ form_errors(form.firstname) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.tel, 'Téléphone') }}
        {{ form_widget(form.tel, ({'attr': {'class': 'form-control'}})) }}
    </div>
    <div class="form-group">
        {{ form_label(form.title, 'Poste') }}
        {{ form_widget(form.title, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description, 'Expériences') }}
        {{ form_widget(form.description, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="form-group text-center">
        {{ form_label(form.pictureFile, 'Photos') }}
        <div class="row justify-content-center text-black-50">
            {{ form_row(form.pictureFile, ({'attr': {'class': 'form-control'}})) }}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-add my-4">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(form) }}
