{% form_theme form 'foundation_5_layout.html.twig' %}
{{ form_start(form) }}
    <div class="form-group mt-lg-4">
        {{ form_label(form.lastname, 'Nom') }}
        {{ form_widget(form.lastname, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.lastname) }}
    </div>
    <div class="form-group">
        {{ form_label(form.firstname, 'Prénom') }}
        {{ form_widget(form.firstname, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.firstname) }}
    </div>
    <div class="form-group">
        {{ form_label(form.tel, 'Téléphone') }}
        {{ form_widget(form.tel, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.tel) }}
    </div>
    <div class="form-group">
        {{ form_label(form.title, 'Poste') }}
        {{ form_widget(form.title, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description, 'Expériences') }}
        {{ form_widget(form.description, ({'attr': {'class': 'form-control'}})) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="form-group">
        {{ form_label(form.picture, 'Photos') }}
        <div class="row justify-content-center">
            {{ form_row(form.picture, ({'attr': {'class': 'form-control'}})) }}
            {{ form_errors(form.picture) }}
        </div>
    </div>

    <button class="btn btn-light btn-add my-4">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
