{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier Membre{% endblock %}

{% block body %}
    <h1 class="training-title py-4 text-center">Modifier <span
                class="text-uppercase">{{ employee.lastname }}</span> {{ employee.firstname }}</h1>
    <div class="form-title container pt-lg-4 mb-lg-4">
        <div class="col">
            {{ include('admin_employee/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
    <div class="pb-4 text-center">
        {{ include('admin_employee/_delete_form.html.twig') }}
        <a class="btn btn-primary" href="{{ path('admin_employee') }}">Liste des membres</a>
    </div>
{% endblock %}
