{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier Membre{% endblock %}

{% block body %}
    <h1 class="text-capitalize">Modifier <span
                class="text-uppercase">{{ employee.lastname }}</span> {{ employee.firstname }}</h1>

    {{ include('admin_employee/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('admin_employee/_delete_form.html.twig') }}

    <a href="{{ path('admin_employee') }}">Liste des membres</a>
{% endblock %}
