{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin Equipe{% endblock %}

{% block body %}
    <div class="text-center py-5">
        <a href="{{ path('employee_new') }}" class="btn add"><i class="fas fa-plus"></i> Ajouter un membre</a>
    </div>
    <div class="row">
        {% for employee in employees %}
            <div class="col-md-6 col-lg-4 text-center">
                {% if employee.picture is null %}
                    <img src="{{ asset('build/images/placeholder150.png') }}" class="img-team"
                         alt="{{ employee.lastname }} {{ employee.firstname }}">
                {% else %}
                    <img src="{{ asset('uploads/employee/' ~ employee.picture) }}" class="img-team"
                         alt="{{ employee.lastname }} {{ employee.firstname }}">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title"><span
                                class="text-uppercase">{{ employee.lastname }}</span> {{ employee.firstname }}</h2>
                    <div class="edit-del">
                        <a href="{{ path('employee_edit', {'id': employee.id}) }}" class="btn"><i class="far faro fa-edit"></i></a>
                        {% include '/admin_employee/_delete_form.html.twig' %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
