<h1>Société : {{ contact.firm }}</h1>
<p>Nom : {{ contact.lastname }}</p>
<p>Prénom : {{ contact.firstname}}</p>
<p>Téléphone : {{ contact.tel }}</p>
<p>Objet : {{ contact.object }}</p>
<p>{{ contact.message }}</p>

