{% extends 'mailBase.html.twig' %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
        <h1 class="text-center">Société : {{ contact.firm }}</h1>
        </div>
        {{ mailerFrom }}
        <div class="col-12">
        <ul>
            <li>
                <p>Email : {{ contact.email }}</p>
            </li>
            <li>
                <p>Nom : {{ contact.lastname }}</p>
            </li>
            <li>
                 <p>Prénom : {{ contact.firstname}}</p>
            </li>
            <li>
                <p>Téléphone : {{ contact.tel }}</p>
            </li>
            <li>
                <p>Objet : {{ contact.object }}</p>
            </li>
            <p>{{ contact.message }}</p>

        </ul>
        </div>
    </div>
</div>
{% endblock %}

